#ignore all the node modules and dists in the packages subfolders
javascript/*/node_modules
javascript/*/dist
javascript/*/coverage
javascript/coverage
javascript/.pack
/.idea
/.claude
node_modules
dist
